body{
  margin: 0;
  padding: 0;
  font-family: Helvetica,freesans,sans-serif;
}
.borderleft {
  float: left;
  border-left: 1px solid #CCCCCC;
  height: 100%;
}
.topbar_menu {
  float: left;
  height: 27px;
  font-weight: bold;
  padding: 13px 15px 0 15px;
}
.topbar_search {
  float: left;
  margin-left: 6px;
}
.clear {
  clear: both;
}

#topbar {
  margin-left: 10%;
  height: 40px;
  width: 100%;
  margin-bottom: 0;
}
  #logo {
    float: left;
    height: 24px;
    width: 90px;
    margin-top: 7px;
    margin-right: 8px;
  }
  #signinimage {
    float: left;
    width: 25px;
    height: 25px;
    margin: 6px 4px 6px 6px;
  }
  #signin-text {
    float: left;
    font-weight: bold;
    position: relative;
    top: 12px;
    padding-right: 70px;
  }
  #wigglyline {
    float: left;
    height: 40px;
    margin-right: 6px;
  }
  #bellpic {
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 7px;
  }
  #more {
    margin-top: 6px;
    margin-left: 7px;
    float: left;
    height: 75%;
    width: 150px;
    font-weight: bold;
    font-size: 100%;
  }
  #searchfeat {
    float: left;
    margin-top: 5px;
    margin-left: 6px;
    height: 19px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #E4E4E4;
    border: 0;
  }
  #searchicon {
    float: left;
    height: 29px;
    width: 27px;
    margin-top: 0;
    margin-top: 5px;
  }

#newshead {
  float: left;
  height: 60px;
  width: 100%;
  background-color: #BB1919;
}
  #newsheadtext {
    float: left;
    margin-left: 10%;
    position: relative;
    top: -20px;
    font-size: 270%;
    color: #FFFFFF;
    font-weight: normal;
  }
  .right {
    float: right;
    margin: 15px 11% 15px 15px;
    border: 1px solid #CCCCCC;
  }
  #localnews {
    float: left;
    padding: 6px;
    font-size: 19px;
    font-weight: bold;
  }
  .right a {
    text-decoration: none;
    color: white;
  }
  .right a:hover {
    text-decoration: underline;
    color: black;
  }
  .right img {
    float: right;
    height: 35px;
    width: 30px;
  }

#navbar {
  float: left;
  height: 28px;
  width: 100%;
  padding-top: 8px;
  background-color: #BB1919;
}
  #navbartext {
    font-size: 14px;
    color: #FFFFFF;
    margin: 7px;
  }
  #navbartexthome {
    float: left;
    margin-left: 10%;
    margin-right: 7px;
    font-size: 14px;
    color: #FFFFFF;
  }

#techline {
  float: left;
  margin-left: 10%;
  height: 40px;
  width: 100%;
}
  #techlinetext {
    float: left;
    padding-top: 5px;
    font-size: 21px;
  }

#techunderline {
  float: left;
  position: relative;
  top: -10px;
  margin-left: 10%;
  width: 44px;
  height: 3px;
  background-color: red;
  border: 0;
}

#advertline {
  float: left;
  width: 100%;
}
  #advertlineimg {
    float: left;
    margin-left: 20%;
  }

#articlesection {
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 10%;
  width: inherit;
  height: inherit;
}
  #articleSecPic {
    float: left;
  }
  #articleSecText {
    float: left;
    height: 330px;
    margin-left: 8px;
  }
